Transform functions

The &lt;<transform-function>&gt; CSS data type represent appearance transformation. It is used as a value of transform property.

Translate functions
<span class="code">translateX()</span>
Translates an element horizontally.

<span class="code">translateY()</span>
Translates an element vertically.

<span class="code">translateZ()</span>
Translates an element along the z-axis.

<span class="code">translate()</span>
Translates an element on the 2D plane.

<span class="code">translate3d()</span>
Translates an element in 3D space.

Rotation functions
<span class="code">rotateX()</span>
Rotates an element around the horizontal axis.

<span class="code">rotateY()</span>
Rotates an element around the vertical axis.

<span class="code">rotateZ()</span>
Rotates an element around the z-axis.

<span class="code">rotate()</span>
Rotates an element around a fixed point on the 2D plane.

<span class="code">rotate3d()</span>
Rotates an element around a fixed axis in 3D space.

Scaling functions

<span class="code">scaleX()</span>
Scales an element up or down horizontally.

<span class="code">scaleY()</span>
Scales an element up or down vertically.

<span class="code">scaleZ()</span>
Scales an element up or down along the z-axis.

<span class="code">scale()</span>
Scales an element up or down on the 2D plane.

<span class="code">scale3d()</span>
Scales an element up or down in 3D space.

Skew functions

<span class="code">skewX()</span>
Skews an element in the horizontal direction.

<span class="code">skewY()</span>
Skews an element in the vertical direction.

<span class="code">skew()</span>
Skews an element on the 2D plane.

Matrix functions

<span class="code">matrix()</span>
Describes a homogeneous 2D transformation matrix.

<span class="code">matrix3d()</span>
Describes a 3D transformation as a 4×4 homogeneous matrix.

Perspective functions

<span class="code">perspective()</span>
Sets the distance between the user and the z=0 plane.

Math functions

The math functions allow CSS numeric values to be written as mathematical expressions.

Basic arithmetic

<span class="code">calc()</span>
Performs basic arithmetic calculations on numerical values.

Comparison functions

<span class="code">min()</span>
Calculates the smallest of a list of values.

<span class="code">max()</span>
Calculates the largest of a list of values.

<span class="code">clamp()</span>
Calculates the central of a minimum, central, and maximum values.

Trigonometric functions

<span class="code">sin()</span>
Calculates the trigonometric sine of a number.

<span class="code">cos()</span>
Calculates the trigonometric cosine of a number.

<span class="code">tan()</span>
Calculates the trigonometric tangent of a number.

<span class="code">asin()</span>
Calculates the trigonometric inverse sine of a number.

<span class="code">acos()</span>
Calculates the trigonometric inverse cosine of a number.

<span class="code">atan()</span>
Calculates the trigonometric inverse tangent of a number.

<span class="code">atan2()</span>
Calculates the trigonometric inverse tangent of two-numbers in a plane.

Exponential functions

<span class="code">pow()</span>
Calculates the base raised to the power of a number.

<span class="code">sqrt()</span>
Calculates the square root of a number.

<span class="code">hypot()</span>
Calculates the square root of the sum of the squares of its arguments.

<span class="code">log()</span>
Calculates the logarithm of a number.

<span class="code">exp()</span>
Calculates e raised to the power of a number.

Filter functions

The &lt;<filter-function>&gt; CSS data type represents a graphical effect that can change the appearance of an input image. It is used in the filter and backdrop-filter properties.

<span class="code">blur()</span>
Increases the image gaussian blur.

<span class="code">brightness()</span>
Brightens or darkens an image.

<span class="code">contrast()</span>
Increases or decreases the image contrast.

<span class="code">drop-shadow()</span>
Applies a drop shadow behind an image.

<span class="code">grayscale()</span>
Converts an image to grayscale.

<span class="code">hue-rotate()</span>
Changes the overall hue of an image.

<span class="code">invert()</span>
Inverts the colors of an image.

<span class="code">opacity()</span>
Adds transparency to an image.

<span class="code">saturate()</span>
Changes the overall saturation of an image.

<span class="code">sepia()</span>
Increases the sepia of an image.

Color functions

The &lt;<color>&gt; CSS data type specifies different color representations.

<span class="code">rgb()</span>
Defines a given color according to its red, green, blue and alpha (transparency) components.

<span class="code">hsl()</span>
Defines a given color according to its hue, saturation, lightness and alpha (transparency) components.

<span class="code">hwb()</span>
Defines a given color according to its hue, whiteness and blackness components.

<span class="code">lch()</span>
Defines a given color according to its lightness, chroma and hue components.

<span class="code">oklch()</span>
Defines a given color according to its lightness, chroma, hue and alpha (transparency) components.

<span class="code">lab()</span>
Defines a given color according to its lightness, a-axis distance and b-axis distance in the lab colorspace.

<span class="code">oklab()</span>
Defines a given color according to its lightness, a-axis distance, b-axis distance in the lab colorspace and alpha (transparency).

<span class="code">color()</span>
Specifies a particular, specified colorspace rather than the implicit sRGB colorspace.

<span class="code">color-mix()</span>
Mixes two color values in a given colorspace by a given amount.

Image functions

The &lt;<image>&gt; CSS data type provides graphical representation of images or gradients.

Gradient functions

<span class="code">linear-gradient()</span>
Linear gradients transition colors progressively along an imaginary line.

<span class="code">radial-gradient()</span>
Radial gradients transition colors progressively from a center point (origin).

<span class="code">conic-gradient()</span>
Conic gradients transition colors progressively around a circle.

<span class="code">repeating-linear-gradient()</span>
Repeats the color stops infinitely in all directions so as to cover its entire container.

<span class="code">repeating-radial-gradient()</span>
Repeats the color stops infinitely in all directions so as to cover its entire container.

<span class="code">repeating-conic-gradient()</span>
Repeats the color stops infinitely in all directions so as to cover its entire container.

Image functions

<span class="code">image-set()</span>
Picks the most appropriate CSS image from a given set, primarily for high pixel density screens.

<span class="code">cross-fade()</span>
Blends two or more images at a defined transparency.

<span class="code">paint()</span>
Defines an &lt;<image>&gt; value generated with a PaintWorklet.

Counter functions

CSS counter functions are generally used with the content property, although in theory, they may be used wherever a &lt;<string>&gt; is supported.

<span class="code">counter()</span>
Returns a string representing the current value of the named counter if there is one.

<span class="code">counters()</span>
Enables nested counters, returning a concatenated string representing the current values of the named counters, if there are any.

<span class="code">symbols()</span>
Defines the counter styles inline, directly as the value of a property.

Shape functions

The &lt;<basic-shape>&gt; CSS data type represents a graphical shape. It is used in the clip-path, offset-path, and shape-outside properties.

<span class="code">circle()</span>
Defines a circle shape.

<span class="code">ellipse()</span>
Defines an ellipse shape.

<span class="code">inset()</span>
Defines an inset rectangle shape.

<span class="code">polygon()</span>
Defines a polygon shape.

<span class="code">path()</span>
Accepts an SVG path string to enable a shape to be drawn.

Reference functions

The following functions are used as a value of properties to reference a value defined elsewhere.

<span class="code">attr()</span>
Uses the attributes defined on HTML element.

<span class="code">env()</span>
Uses the user-agent defined as environment variable.

<span class="code">url()</span>
Uses a file from the specified URL.

<span class="code">var()</span>
Uses the custom property value instead of any part of a value of another property.

Grid functions

The following functions are used to define a CSS Grid.

<span class="code">fit-content()</span>
Clamps a given size to an available size according to the formula min(maximum size, max(minimum size, argument)).

<span class="code">minmax()</span>
Defines a size range greater-than or equal-to min and less-than or equal-to max.

<span class="code">repeat()</span>
Represents a repeated fragment of the track list, allowing a large number of columns or rows that exhibit a recurring pattern.

Font functions

CSS font functions are used with the </span>font-variant-alternates</span> property to control the use of alternate glyphs.

<span class="code">stylistic()</span>
Enables stylistic alternates for individual characters. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType value salt, like salt 2.

<span class="code">styleset()</span>
Enables stylistic alternatives for sets of characters. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType value ssXY, such as ss02.

<span class="code">character-variant()</span>
Enables specific stylistic alternatives for characters. It is similar to styleset(), but doesn't create coherent glyphs for a set of characters; individual characters will have independent and not necessarily coherent styles. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType value cvXY, such as cv02.

<span class="code">swash()</span>
Enables swash glyphs. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType values swsh and cswh, such as swsh 2 and cswh 2.

<span class="code">ornaments()</span>
Enables ornaments such as fleurons and other dingbat glyphs. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType value ornm, such as ornm 2.

<span class="code">annotation()</span>
Enables annotations such as circled digits or inverted characters. The parameter is a font-specific name mapped to a number. It corresponds to the OpenType value nalt, such as nalt 2.

Easing functions

The following functions are used as a value in transition and animation properties.

<span class="code">cubic-bezier()</span>
Easing function that defines a cubic Bézier curve.

<span class="code">steps()</span>
Iteration along a specified number of stops along the transition, displaying each stop for equal lengths of time.

Animation functions

The following functions are used as a value of different animation-timeline properties. See animation-timeline for more details about these.

<span class="code">scroll()</span>
Sets the animation-timeline of an element to an anonymous scroll progress timeline.

<span class="code">view()</span>
Sets the animation-timeline of an element to an anonymous view progress timeline.
